{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:jest-dom/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ],
    "react/prop-types": [0]
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "eslint-import-resolver-lerna": {
        "packages": "src/packages"
      }
    }
  }
}
